.cproject
.project
.settings/
*.o
Makefile.in
/Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/drafts/Makefile
doc/mdate-sh
doc/netcat.1
doc/netcat.info
doc/netcat.pod
doc/stamp-vti
doc/texi2pod.pl
doc/texinfo.tex
doc/version.texi
install-sh
lib/Makefile
lib/contrib/.deps/
lib/contrib/Makefile
m4/Makefile
missing
po/Makefile
po/POTFILES
*.gmo
po/stamp-po
src/.deps/
src/Makefile
src/netcat
stamp-h1

